body {
  min-height: 60vh;
  background-image: url("../assets/images/logo-blur.jpg");
  background-color: var(--color-blue-light);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.whatsapp-image {
  max-width: 50%;
}
