.navbar{
    background-color: var(--color-blue);
    /* color: var(--color-white) !important; */
}

.navbar a{
    color: white !important;
}

.navbar a:hover{
    /* color: var(--color-gray) !important; */
    color: gray !important;
}

.navbar-toggler{
    border: 0 !important;
    outline: 0 !important;
}

.menu-icon{
    width: 1.5em;
    height: 1.5em;
    color: white !important;
}

.home-hero{
    min-height: 60vh;
    background-image: url("../assets/images/hero-background.jpg"); 
    background-color: var(--color-blue-light);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.home-hero-child{
    min-height: 100%;
    min-width: 100%;
}

.home-hero-child-container{
    min-height: 100% !important;
    min-width: 100% !important;
}

.home-right-bar{
    background-color: var(--color-blue);
    min-height: 100%;
    color: var(--color-white);
}

.white-box{
    border: 3px solid white;
}

.footer-container{
    background-color: black;
    color: var(--color-white);
}