.full-screen {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue);
}

.full-screen-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-button {
  border: 1px solid var(--color-white);
  color: var(--color-white);
  padding: auto;
  border-radius: 10px !important;
}
