/* Color schema reference from: https://mycolor.space/?hex=%23005B93&sub=1 */


:root {
	--color-black: #000000;
	--color-black-two: #3D4756;
	--color-white: #F5FAFF;
	--color-gray: #F1F1E6;
  --color-blue: #005B93;
  --light-blue-font: #0091BC;
  }
  
  html,
  body,
  * {
  /* font-family: "Poppins",sans-serif !important; */
  margin: 0;
  padding: 0;
  }

  html, body{
  min-width: 100%;
  min-height: 100vh;
  }